body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #4b3c2f;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 30px;
}

a {
  text-decoration: none;
}

.container {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  background-color: #EEEEEE;
}

#header {
  float: left;
  width: 100%;
  background-color: #dd712e;
}

#header-container {
  background-color: #dd712e;
  margin: 0 auto;
  width: 1000px;
  height: 300px;
}

#logo-container {
  float: left;
  position: relative;
  top: 80px;
}

#main-logo {
  font-size: 100px;
}

#main {
  float: left;
  width: 100%;
  height: 1000px;
  background-color: #8caec9;
}

#overview {
  background-color: #eead84;
  float: left;
  width: 100%;
  height: 500px;
  font-size: 30px;
}

#overview-container {
  background-color: #eead84;
}

#tryDemoButton-container {
  background-color: #eead84;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.button {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  height: 50px;
  background-color: #7272DE;
  float: left;
  position: relative;
  top: 20px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  transition-duration: 0.4s;
  color: #FFFFFF;
}

.button:hover {
  background-color: #9e9ed1;
  color: black;
  border-color: black;
}

.button .text {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  position: relative;
  top: 5px;
  font-size: 20px;
}
