#health-container {
  width: 100%;
  height: 600px;
  margin-left: 20px;
}

#nutrition-container {
  width: 1000px;
}

#nutrition-container h3 {
  background-color: #eec8a0;
  width: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#nutrition-info {
  background-color: #eec8a0;
  width: 1000px;
  height: 437px;
  position: relative;
  top: -30px;
  border-top-right-radius: 10px;
}

.item {
  width: 900px;
  height: 150px;
  margin: 0 auto;
  border: 2px solid #798db9;
  border-radius: 20px;
  position: relative;
}

.item h3 {
  font-size: 40px;
  font-weight: 300;
  position: relative;
  top: -25px;
  left: 10px;
}

.item .verticalLine {
  width: 7px;
  height: 20px;
  background-color: #777777;
  position: relative;
  top: -82px;
  left: 145px;
}

.item img {
  width: 100px;
  position: relative;
  top: -50px;
  left: 20px;
}

.item p {
  font-size: 25px;
  position: relative;
  top: -105px;
  left: 150px;
}

.item span {
  font-weight: bold;
}
